body {
    margin: 0;
    padding: 0;
    background-color: black !important;
}

/* Change background & text color on selection_________________________ */
::selection {
    background-color: red;
    color: white;
}

main {
    width: 100% !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Details Container_____________________________________ */
.detailContainere {
    color: white;
    width: 450px;
    padding: 30px 30px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 5px;
    position: relative;
}

h1 {
    font-size: 45px !important;
    line-height: 2 !important;
    margin-bottom: -8px !important;
}

/* Labels___________________________________________ */

label {
    position: relative;
}

/* Inputs shadow on focus_________________________________ */

label::before {
    content: '';
    background-image: linear-gradient(45deg, red, blue);
    width: 350px;
    height: 40px;
    filter: blur(5px);
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 0.2s;
}

label:focus-within:before {
    opacity: 1;
}

/* Inputs___________________________________________ */

#nameInp {
    background-image: url(../logo_icons/icons/user.svg);
}

#emailInp {
    background-image: url(../logo_icons/icons/envelope.svg);
}

#passwordInp {
    background-image: url(../logo_icons/icons/lock.svg);
}


/* Inputs similar design_______________________________________ */
input {
    width: 350px;
    padding: 3px;
    outline: none;
    border: 1px solid dodgerblue;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 3px 4px;
    padding-left: 30px;
    position: relative;
    z-index: 9 !important;
    transition: all 0.1s;
}

input:focus {
    border: 1px solid transparent;
    transform: scale(1.1);
}

input.eror {
    border-color: red;
    box-shadow: 0px 0px 5px red, inset 0px 0px 10px red;
    transform: scale(1.1);
}

/* Inputs error messages________________________________________ */
.errorMsg {
    opacity: 0;
    color: red;
    text-shadow: 0px 0px 5px red;
    margin: 5px 0px -10px 5px;
    transition: all 0.1s;
}

.errorMsg.showErr {
    opacity: 1;
}

.textClip {
    color: transparent;
    background: linear-gradient(to right, red, blue);
    background-clip: text;
}


/* Register button_________________________________________________ */

.Btn {
    font-size: large;
    font-weight: 500;
    padding: 2px 15px;
    padding-bottom: 4px;
    border: 1px solid dodgerblue;
    border-radius: 20px;
    transition: all 0.3s;
}

.Btn:hover {
    background: linear-gradient(to right, red, blue);
    border-color: black;
    /* color: dodgerblue; */
    color: black;
    transform: scale(1.1);
}

.Btn:focus {
    transform: scale(1);
}


/* Container shadow___________________________________ */

.shadow {
    width: 470px;
    height: 430px;
    background-image: linear-gradient(-45deg, red, blue);
    position: absolute;
    z-index: -1;
    filter: blur(25px) !important;
}